app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |-
    #/bin/sh

    docker-compose -f docker-compose.yaml up -d
app_test:
  - name: ballot
    configType: custom
    customType: file
    configPath: ballot/test/ballotCurl.json
  - name: ballot
    configType: postman
    configPath: ballot/test/ballotPostman.json
  - name: ec
    configType: cypress
    configPath: service-test-suite/election-commission
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-28T04:27:27.117Z
