app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: ArgoCD
  content: argocd-app.yaml
app_test:
  - name: ballot
    configType: postman
    configPath: ballot/test/ballotPostman.json
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-11T06:40:46.710Z
