app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio",tag=latest
    helm upgrade garvittest13-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS=""
    helm upgrade garvittest20-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-11-17T10:16:32.233Z
