app_dependencies:
  type: text
  content: |+
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
    docker run ballot:$ROOST_NAMESPACE -v $(pwd):/app -w /app/ballot --entrypoint bash  -c "GO111MODULE=off go test -v && tail -100f /dev/null"

app_deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio",tag=latest
    helm upgrade garvittest12-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test:
  - name: ''
    configType: ''
    configPath: ''
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-11-30T06:51:03.201Z
