app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #/bin/sh



    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=upadhyayyash",tag=latest

    echo $HELM_OPTS 
    helm upgrade garvittest12-helm-vote helm-vote -n ${ROOST_NAMESPACE} --create-namespace --install $HELM_OPTS
app_test:
  - name: ballot
    configType: artillery
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-07T16:19:58.029Z
