app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: ArgoCD
  content: argocd-app.yaml
app_test:
  - name: ballot
    configType: postman
    configPath: ballot/test/ballotPostman.json
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-17T05:02:39.042Z
