app_dependencies:
  type: None
  content: ''
app_deploy:
  type: text
  content: |-
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=local-registry",tag=latest
    helm upgrade garvittest12-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test:
  - name: ecserver
    configType: maven
    configPath: maven-example
  - name: ballot
    configType: postman
    configPath: ballot/test/ballotPostman.json
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
app_uninstall:
  type: None
  content: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-19T12:49:06.811Z
