app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: ArgoCD
  content: argocd-app.yaml
app_test:
  - name: ballot
    configType: cypress
    configPath: ballot/test/test.yaml
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-11T04:33:17.245Z
