app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio",tag=latest
    helm upgrade garvittest12-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
    kubectl expose deployment voter -n ${ROOST_NAMESPACE} --type=LoadBalancer --name=voterlbhttps
    kubectl expose deployment ballot -n ${ROOST_NAMESPACE} --type=LoadBalancer --name=ballotlbhttps
    kubectl expose deployment election-commission -n ${ROOST_NAMESPACE} --type=LoadBalancer --name=eclbhttps
    kubectl expose deployment ecserver -n ${ROOST_NAMESPACE} --type=LoadBalancer --name=ecserverlbhttps

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###
    echo "voting app new"

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-12-07T13:10:02.616Z
