app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build 
    #docker run zbio/ballot -v $(pwd):/app -w /app/ballot --entrypoint bash  -c "GO111MODULE=off go test -v && tail #-100f /dev/null"


    #docker build -f ballot/Dockerfile --target ballottest -t ballottest ballot 
    #docker run ballottest
    #docker build -f ballot/Dockerfile  -t ballot:check ballot 
    #docker run -d ballot:check -v $(pwd):/app -w /app/ballot --entrypoint bash  -c "GO111MODULE=off go test -v" 

    docker build --target ballottest -t ballottestimage ballot
    docker run --rm ballottestimage ballot.test -test.v -test.parallel 2 -test.count 100 -test.failfast
app_deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio",tag=latest
    helm upgrade garvittest12-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test:
  - name: ''
    configType: ''
    configPath: ''
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-11-30T08:26:42.755Z
