app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    #/bin/sh
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=local-registry",tag=latest
    helm upgrade garvittest12-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

app_test:
  - name: ballot
    configType: custom
    customType: file
    configPath: ballot/test/ballotCurl.json
  - name: ballot
    configType: postman
    configPath: ballot/test/ballotPostman.json
  - name: ec
    configType: cypress
    configPath: service-test-suite/election-commission
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-13T12:01:28.319Z
