app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


     docker-compose  -f docker-compose.yaml up -d
app_test:
  - name: ''
    configType: ''
    configPath: ''
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

build: '[object Object]'
deploy: '[object Object]'
test: []
uninstall: '[object Object]'
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-12-02T12:49:02.066Z
