app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |-
    #/bin/sh
    &amp;lt;&amp;lt;&amp;#39;###&amp;#39;
    Sample Deploy Instructions
    HELM_OPTS=&amp;quot;--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},`=${ROOST_NAMESPACE}&amp;quot;

    helm install &amp;lt;helm-folder&amp;gt; -n &amp;lt;ns&amp;gt; $HELM_OPTS

    kubectl apply -f &amp;lt;file&amp;gt;.yaml
    ###

    HELM_OPTS=&amp;quot;--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio&amp;quot;,tag=latest
    helm upgrade garvittest12-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-11-16T04:37:37.753Z
